# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
default_942482837171841843_0.profraw
default_2856857808924342861_0.profraw
default_4489034439710890542_0.profraw
default_5732640884073946728_0.profraw
default_7427944849449234093_0.profraw
default_12781971547894223488_0.profraw
default_15765609467096853040_0.profraw
*.profraw
.directory
