.topbar {
    background-color: #406280;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: .5rem;
}

#menu-button {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 90%;
    height: .25rem;
    background-color: white;
    margin: auto;
}

.topbar h1 {
    margin: auto auto 0 0;
    max-height: 50%;
}

.App-link {
    color: #61dafb;
}
